/czas.ctl
/group.csv
/group.txt
/lecturer.csv
/lecturer.txt
/pass_the_subject.csv
/pass_the_subject.py
/pass_the_subject.txt
/student.csv
/student.ctl
/student.txt
/subject.csv
/subject.txt
/time.csv
/time.py
/time.txt